@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron text-center">
        <h2>Northern University Bangladesh</h2>
        @*<h4>Department of Computer Science & Engineering</h4>*@
        <h4>Admit Card Processing APP</h4>      
    </div>