@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron text-center">
        <h1 style="color: #205688 !important">Northern University Bangladesh</h1>
        @*<h4>Department of Computer Science & Engineering</h4>*@
        <h2><strong>Admit Card Processing APP</strong></h2><br/>
        <img width="100%" style="border: 1px solid #205688" class="img-responsive center-block" src="~/Reports/NUBPermanentCampus.png" alt="NUB" />

    </div>
