
@{
    ViewBag.Title = "Index";
}

    <div class="panel panel-info">
        <div class="panel-heading">Payment Auto Approve</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="col-md-6 col-sm-10">
                    <div class="form-group">
                        <label class="control-label col-md-3">Semester</label>
                        <div class="col-md-9">
                            <input data-val="true" id="SemesterId" name="SemesterId" type="hidden" value="@ViewBag.SemesterId">
                            <input class="form-control" id="SemesterName" name="SemesterName" readonly="true" value="@ViewBag.Semester">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Exam</label>
                        <div class="col-md-9">
                            @Html.DropDownList("ExamId", null, htmlAttributes: new { @class = "form-control" })
                            <input data-val="true" id="ExamIdHide" type="hidden">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Program</label>
                        <div class="col-md-9">
                            @Html.DropDownList("ProgramId", null, htmlAttributes: new { @class = "form-control" })
                            <input data-val="true" id="ProgramIdHide" type="hidden">
                        </div>
                    </div>

                    <div class="form-group">
                        <button id="btnSearch" class="btn btn-primary" type="submit">Search</button>
                        <label id="message"></label>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        <div class="panel-body">
            <table id="myTable" class="table">
                <thead>
                <tr>
                    <th>
                        Id No
                    </th>
                    <td>
                        Program
                    </td>
                    <th>
                        Name
                    </th>
                    <th>
                        Contact No
                    </th>
                    <th>
                        Email
                    </th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>




<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" id="rvQuestionList">
            <div class="modal-header">
                <div class="col-md-5">Student Detail</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>


            </div>
            <div class="modal-body">
                <input type="hidden" id="Id" />
                <input type="hidden" id="RequestId" />
                <input type="hidden" id="PaymentId" />
                <br/>
                <dl class="dl-horizontal">
                    <dt> <label>Student Id: </label></dt><dd><label id="idNo"></label></dd>
                    <dt><label>Name: </label></dt><dd><label id="Name"></label></dd>
                    <dt><label>Due: </label></dt><dd><label id="Due"></label></dd>
                    <dt><label>Requested Date: </label></dt><dd> <input id="RequestedDate" /></dd>
                    <dt><label>Comment: </label></dt><dd><label id="Comment"></label></dd>
                    <dt><label>PreviousPermission: </label></dt><dd><label id="PreviousPermission"></label></dd>
                    <dt></dt><dd><h4 id="paymentMessage" class="text-danger"></h4></dd>
                    <dt></dt><dd><a class="btn btn-danger" id="btnDue">Due Approve</a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>




@section scripts
{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                pageLength : 200
            });
            $("#RequestedDate").datepicker({ dateFormat: 'dd-mm-yy' });;
        });


        $(document.body).on("click", "#btnSearch", function () {

            var programId = $("#ProgramId").val();
            var semesterId = $("#SemesterId").val();
            var examId = $("#ExamId").val();

            $("#ExamIdHide").val(examId);
            $("#ProgramIdHide").val(programId);


            
            $("#myTable").DataTable().destroy();
            $('#myTable').DataTable({
                ajax: {
                    url: "/StudentInfoes/GetPaymentStatusApproval?programId=" + programId + "&semesterId=" + semesterId + "&examId=" + examId,
                    dataSrc: ""
                },
                columns: [
                    { data: "IdNo"},
                    { data: "Program.ShortName"},
                    { data: "Name"},
                    { data: "ContactNo"},
                    { data: "Email"},
                    {
                        data: "Id",
                        render: function (data) {
                            return "<a class='js-detail btn btn-primary' data-id='"+data+"'>Detail</a></td>";
                        }
                    }

                ]
            });

        });

        $(document.body).on("click", ".js-detail", function () {
            var button = $(this);
            var id = button.attr("data-id");

            var programId = $("#ProgramIdHide").val();
            var semesterId = $("#SemesterId").val();
            var examId = $("#ExamIdHide").val();

            $.get("/StudentInfoes/GetDetails?stdId=" + id + "&programId=" + programId + "&semesterId=" + semesterId + "&examId=" + examId,
                function (r) {

                    $("#Id").val(r.Id);
                    $("#idNo").text(r.IdNo);
                    $("#Name").text(r.Name);
                    $("#RequestId").val(r.RequestId);
                    $("#PaymentId").val(r.PaymentId);
                    $("#Due").text(r.PaymentStatus);

                    $("#RequestedDate").val(r.RequestedDate);
                    $("#Comment").text(r.Comment);
                    $("#PreviousPermission").text(r.PreviousPermission);

                    $("#paymentImage").attr("src", r.PaymentFilePath);

                    if (r.RequestedDate==null) {
                        //$("#btnApprove").show();
                        //$("#btnDue").hide();
                        $("#paymentMessage").text("This student apply for admit card. If this student don't pay 70% please contact him for apply permission card");
                    } else {
                        //$("#btnApprove").hide();
                        //$("#btnDue").show();
                        $("#paymentMessage").text("");
                    }
                        

                    $('#myModal').modal('show');

                });
        });


        $(document.body).on("click", "#btnDue", function () {
            
            var id = $("#Id").val();
            var r = $("#RequestId").val();
            var p = $("#PaymentId").val();
            var d = $("#RequestedDate").val();
            if (d != "") {
                $.get("/AdmitCardApproval/DueApproval?stdId=" + id + "&requestId=" + r + "&date=" + d +"&paymentId="+p,
                    function(r) {
                        if (r > 0)
                            location.reload();
                    });
            } else {
                $("#paymentMessage").text("Give Date");

            }
            
        });
    </script>
}
